################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Eksperyment/.vs/Eksperyment/v16/Browse.VC.opendb
